<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="jerika.com.sacbookstore">

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon_main"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".splash"
            android:theme="@style/MyActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".OptionActivity"
            >


        </activity>
        <activity
            android:name=".OptionItemSelectedList"
            android:label="@string/title_activity_option_item_selected_list"
            android:parentActivityName=".OptionActivity"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".OptionActivity"
                >
            </meta-data>


        </activity>
    </application>

</manifest>